.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5%;
}

.search-bar {
    height: 45px;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #dfdfdf;
}

#search-icon {
    padding: 10px;
}

#search-box {
    border: none;
    outline: none;
    width: 70%;
    margin-top: 5px;
    padding: 5px;
    background: inherit;
}



li {
    display: inline;   
}

li a:link{
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

a {
    color: rgb(39, 39, 39);
    padding: 14px 16px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #list-1 {
    position: fixed;
      top: 20px;
      left: 20px;
}
  
  #list-2 {
    position: fixed;
    top: 20px;
      
      right: 20px;
  }

  .list {
      font-family:arial,sans-serif;
      font-size: 14px;
    
  }

  #sign-in-btn {
      background: #4285f4;
      color: white;
      border: 1px solid #4285f4;
      padding: 5px 10px;
      margin-left: 10px;
      margin-right: 10px;
}

#bottom-list {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-size: 14px;
}

#items a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }

#search-hover:hover {
    moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
    color: #222;
}

